#poem-of-the-day{
    width: 50%;
    height: auto;
    border: cadetblue solid 2px;
    background-color: white;
    padding: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 2px;
}

#potd-header{
    border: cadetblue solid 2px;
    background-color: cadetblue;
    padding: 8px;
    border-radius: 2px;
}
#potd-title{
    color: cadetblue;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

#potd-author{
    color: cadetblue;
    cursor: pointer;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.line{
    color: cadetblue;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.splash-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(159, 209, 211);
    margin: 0px;
}

#collections-container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 75%;
    margin-bottom: 8px;
}

.link {
    width: fit-content;
    height: fit-content;
    padding: 3px;
    border: cadetblue 1px solid;
    text-decoration: none;
}

.explore-link {
    display: flex;
}

#browse-container{
    color: black;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.footer {
    background-color: rgb(159, 209, 211);
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.footer-links{
    text-decoration: none;
}
