
#outer-form-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 8px;
    margin: 2px solid black;
    width: 500px;
    height: 350px;
}

#log-in-label {
    color: cadetblue;
    display: flex;
    align-content: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.lfm-label {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 8px;
}

.lfm-button {
    display: flex;
    justify-content: center;
    background-color: cadetblue;
    padding: 2px;
    margin: 5px;
    color: antiquewhite;
    border-radius: 2px;
    width: 100%;
    cursor: pointer;
}

.error-message{
    color: red;
    padding: 0px;
    margin: 0px;
    position: static;
    font-size: 10px;
    height: 12px;
}

.google-auth {
    width: 100%;
}

.google-auth * {
    width: 100%;
}

.google-auth-div {
    display: block;
    text-align: center;
}
